.lang__icon-en {
    display: none;
}

@media screen and (min-width: 768px) {
    .lang__icon-en {
        display: block;

        width: 32px;
        height: 32px;

        background-image: url('../../../images/united-kingdom.svg');
        background-size: cover;
    }
}