.service__item_competition::before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -50px;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../../../images/competition.svg');
    background-repeat: no-repeat;
    background-size: cover;
}