.service__item_tranning {
    position: relative;
    
    margin: 0 auto;
}

.service__item_tranning::before {
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 0;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../../../images/training.svg');
    background-repeat: no-repeat;
    background-size: cover;
}