.subscription__list-item {
    position: relative;
    display: block;
    gap: 8px;

    width: 100%;

    padding: 0 0 7px 32px;
    margin: 0;
    box-sizing: border-box;
}

.subscription__list-item::before {
    position: absolute;
    left: 0px;
    top: -5px;

    content: "";
    display: inline-block;

    height: 24px;
    width: 24px;

    padding-right: 8px;

    background-image: url('../../../images/point.svg');
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .subscription__list-item::before {
        top: 0;
    }
}