.footer {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 20px;

    max-width: 1200px;

    padding: 12px 32px 12px;
    margin: 0 auto;

    border-top: 1px solid #C9D6F1;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-left: 14px;
        padding-right: 14px;

        box-sizing: border-box;
    }
}