.user__login {
    display: block;

    padding: 16px 60px;
    box-sizing: border-box;

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    background-color: #448AFF;
    border-radius: 10px;
}