.user__lk {
    display: block;
    padding: 0;

    width: 17px;
    height: 19px;
    box-sizing: border-box;

    background-color: transparent;
    background-image: url('../../../images/lk.svg');
    background-repeat: no-repeat;
    border: none;
}

@media screen and (min-width: 500px) {
    .user__lk {
        display: none;
    }
}