.subscription__card-price {
    margin: 0;
    padding: 0;

    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.1px;
}

@media screen and (min-width: 600px) {
    .subscription__card-price {
        padding-top: 27px;

        font-size: 32px;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -0.16px;
    }
}