.gallery__left {
    position: absolute;
    left: 10px;

    display: block;

    width: 50px;
    height: 100%;

    background-image: url('../../../images/chevron_left.svg');
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .gallery__left {
        display: none;
    }
}