.header__top {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

    padding-top: 13px;
    padding-bottom: 13px;

    height: 104px;
}

@media screen and (min-width: 768px) {
    .header__top {
        justify-content: space-between;

        padding-top: 24px;
        padding-bottom: 24px;
    }
}