.header__top {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: start;

    padding-top: 9px;

    height: 104px;

    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .header__top {
        justify-content: space-between;

        padding-top: 24px;
        padding-bottom: 0;
    }
}